#intro {
    /* height: auto; */
    width: auto;
    max-width: 100rem;
    max-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.introContent {
    height: 75vh;
    width: auto;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.para {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 0.5pt;
    width: fit-content;
    max-width: 58rem;
    padding: 0.4rem 0rem
}

.bg {
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 60vh;
    opacity: 70%;
}

.horizontalLine {
    padding: 0;
    width: auto;
    max-width: 30rem;
    height: 7.5px;
    background-color: #e06c6a;
    border: none;
}
.hello {
    font-size: 1.75rem;
    font-weight: 100;
}
.introName {
    color: #e06c6a;
    font-weight: 100;
    transition-property: color;
    transition-duration: 1.5s;
    transition-delay: 0.35s;
}
.introName:hover {
    color: white;
    transition-delay: 10ms;
    transition-property: color;
}

.bg {
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 60vh;
    opacity: 70%;
    transform-origin: top right;
    transform: scale(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.introContent {
    height: 75vh;
    width: auto;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: font-size 0.3s ease, padding 0.3s ease;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
    transition: font-size 0.3s ease;
}

.para {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 0.5pt;
    width: fit-content;
    max-width: 58rem;
    padding: 0.4rem 0rem;
    transition: font-size 0.3s ease, padding 0.3s ease;
}

@media screen and (max-width: 768px) {
    .bg {
        right: -10vw;
        top: 20vw;
        opacity: 60%;
        padding: 0;
        transform: scale(0.75);
    }

    .introContent {
        font-size: 5vw;
        padding: 2rem 3rem;
    }

    .hello {
        font-size: 4.5vw;
    }

    .para {
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px) {
    .bg {
        display: none;
    }

    .introContent {
        font-size: 7vw;
        text-align: left;
        align-items: left;
        align-self: left;
        scale: 70%;
        padding: 0;
    }

    .hello {
        font-size: 6.5vw;
    }

    .para {
        font-size: 3vw;
    }
}
