#intro {
    height: auto;
    width: auto;
    max-width: 100rem;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.introContent {
    height: 75vh;
    width: auto;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.para {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 0.5pt;
    width: fit-content;
    max-width: 58rem;
    padding: 0.4rem 0rem
}

.bg {
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 60vh;
    opacity: 70%;
}

.horizontalLine {
    padding: 0;
    width: auto;
    max-width: 30rem;
    height: 7.5px;
    background-color: #e06c6a;
    border: none;
}
.hello {
    font-size: 1.75rem;
    font-weight: 100;
}
/* TODO - maybe white with black border transitions? */
.introName {
    color: #e06c6a;
    font-weight: 100;
    transition-property: color;
    transition-duration: 1.5s;
    transition-delay: 0.35s;
}
.introName:hover {
    color: white;
    transition-delay: 10ms;
    transition-property: color;
}

@media screen and (max-width:768px) {
    .bg {
        right: -10vw;
        scale: 75%;
        opacity: 60%;
    }
    .introContent {
        font-size: 5vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    .para {
        font-size: 2vw;
    }
}

@media screen and (max-width:600px) {
    .bg {
        right: -20vw;
        scale: 50%;
        opacity: 50%;
    }
    .introContent {
        text-align: left;
        align-items: left;
        align-self: left;
        scale: 70%;
    }
}