@media (min-width: 721px) {
    .container {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding-left: 100px;
    }
}

.socials {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social {
    width: 170px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -230px;
    transition: margin-left 0.3s ease;
}

.social:hover {
    margin-left: -150px;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    border-radius: 0.7rem;
    color: #fff;
    background-color: #333;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
}

.icon span {
    opacity: 0;
    justify-content: space-between;
    transition: opacity 0.3s ease;
    justify-content: center;
    padding: 0 1rem;
}

.icon:hover span {
    justify-content: space-between;
    opacity: 1;
}

#icon1:hover {
    transition: opacity 0.3s ease;
}

#icon2:hover {
    transition: opacity 0.3s ease;
}

#icon3:hover {
    transition: opacity 0.3s ease;
}

#icon4:hover {
    transition: opacity 0.3s ease;
}
